
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" aria-label="Home"><i class="fa fa-home" role="navigation"></i></a>
    </div>
    <div class="navbar-collapse collapse" id="nav-main-menu">
        <ul class="nav navbar-nav">
            @Html.NavigationLink("Assignments", "Assignments", "Home", "fa fa-tasks")
            @Html.NavigationLink("Submissions", "Submissions", "Home", "fa fa-file-invoice")

            @if (User.IsInRole(Constants.GlobalAdministratorGroup))
            {
                @Html.NavigationLink("File Specifications Admin", "FileSpecifications", "Home", "fa fa-cog")
            }
            @if (Constants.Environment != "Prod")
            {
                @Html.NavigationLink("Mail Viewer", "Mail", "Home", "fa fa-envelope")
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://ap.alsde.edu/ADEN/EDFacts.aspx" target="_blank" rel=noreferrer rel="nopenner"><i class="fa fa-history" role="navigation"></i> Previous Reports</a>
            </li>
        </ul>
    </div>
</nav>
