<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <authentication mode="Forms" xdt:Transform="Replace" >
      <forms loginUrl="https://testaim.alsde.edu/aim/TPA/TPA.aspx?requestingWebsite=Aden" timeout="2880" />
    </authentication>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\inetpub\wwwroot\aden\App_Data" />
      </smtp>
    </mailSettings>
  </system.net>


</configuration>