@{
    ViewBag.Title = "Error";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

<h2>Oh, No!</h2>

<div class="alert alert-danger">
    Something bad happened that we have to fix.
   
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Exception Details
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
        @ViewBag.Error
    </div>
</div>


        </div>
    </div>
</div>
