<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aden.DirectoryService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aden.DirectoryService.Properties.Settings>
            <setting name="Aden_DirectoryService_IdemService_Service" serializeAs="String">
                <value>https://glanier.alsde.edu/AlsdeApi_v2/service.asmx</value>
            </setting>
        </Aden.DirectoryService.Properties.Settings>
    </applicationSettings>
</configuration>