@model ReportUploadDto


@Html.AntiForgeryToken()
<form role="form" enctype="multipart/form-data">

    <div>
        <label class="control-label">
            @Model.FileName (@Model.FileNumber) Submission
        </label>
    </div>

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <input type="file" id="files" name="files" multiple="multiple" class="form-control" />
    </div>

</form>