@model ReassignmentDto

<form id="reassignForm" name="reassignForm" role="form">
    @Html.HiddenFor(m => m.WorkItemId)

    <dl>
        <dt>Current Assignment</dt>
        <dd>@Model.AssignedUser</dd>

        <dt>Current Action</dt>
        <dd>@Model.WorkItemAction</dd>
    </dl>

    <div class="form-group">

        <label class="control-label full-width">
            Reassign To
            <input type="text" id="assignedUser" name="assignedUser" class="form-control" />
        </label>
        

    </div>
    
    <div class="form-group">
        <label class="control-label full-width">
            Description:
            <textarea class="form-control" id="Reason" name="Reason" placeholder="Enter reason here..."></textarea>
        </label>
    </div>

</form>