@model string
@{
                /**/

                ViewBag.Title = "My Assignments";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <span class="header">Current Assignments</span>
                    <small> - Your active tasks to be completed</small>
                </div>

                <div class="panel-body">
                    @(Html.DevExtreme()
                      .DataGrid().WordWrapEnabled(true)
                      .ID("gridCurrentAssignments")
                      .ShowRowLines(true)
                      .ShowBorders(true).FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                      .Columns(c =>
                      {
                          c.Add().DataField("fileName");
                          //c.Add().DataField("fileNumber").Width("70");
                          c.Add().DataField("displayDataYear").Width(90).Caption("Data Year");
                          c.Add().DataField("assignedDate").Width(125).DataType(GridColumnDataType.Date).Format("MM/dd/YYYY hh:mm");
                          c.Add().DataField("dueDate").Width(100).DataType(GridColumnDataType.Date).Format("MM/dd/YYYY");
                          c.Add().CssClass("btn-cell").AllowResizing(true).CellTemplate(new JS("function(container, options) {createAssignmentsGridActionButtons(container, options);}"));

                      })
                      .DataSource(d => d.StaticJson().Url(@Url.Content("/api/assignment/current/" + @Model + "/")).Key("id")))
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <span class="header">Completed Actions</span>
                    <small>Tasks you can undo until next action has been completed</small>
                </div>

                <div class="panel-body">
                    @(Html.DevExtreme()
                        .DataGrid()
                        .ID("gridRetrievableAssignments")
                        .ShowRowLines(true)
                        .ShowBorders(true)
                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .Columns(c =>
                        {
                            c.Add().DataField("fileName");
                            c.Add().DataField("fileNumber");
                            c.Add().DataField("displayDataYear").Caption("Data Year");
                            c.Add().DataField("assignedDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY hh:mm");
                            c.Add().DataField("dueDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY");
                            c.Add().DataField("completedDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY");
                            c.Add().DataField("status").Caption("Status");
                            c.Add().DataField("actionName").Caption("Task");
                            c.Add().Alignment(HorizontalAlignment.Center).CellTemplate(new JS("function(container, options) {createGridCancelActionButtons(container, options);}"));
                        })
                        .DataSource(d => d.StaticJson().Url(@Url.Content("/api/assignment/history/" + @Model + "/")).Key("id")))
                </div>

            </div>
        </div>

    </div>
</section>

@section scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <script src="~/js/app/app.module.min.js"></script>
    <script src="~/js/app/assignments.module.min.js"></script>


}
