@model ADEN.Web.ViewModels.AssigmentsViewModel
@{
    ViewBag.Title = "My Assignments";
}

<div class="panel panel-default">
    <div class="panel-body">
        <form action="/assignments/mine" method="get" role="form">
            <div class="col-lg-6">
                <div class="input-group">
                    @Html.DropDownListFor(m => m.Username,
                                                 new List<SelectListItem>()
                                                 {
                                                                                new SelectListItem() {Text = "mlawrence", Value = "mlawrence@alsde.edu"},
                                                                                new SelectListItem() {Text = "jking", Value = "jking@alsde.edu"},
                                                                                new SelectListItem() {Text = "mkong", Value = "mkong@alsde.edu"}
                                                 }, new { @class = "form-control" })

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Change</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </form>
    </div>
</div>


<div class="panel panel-primary">

    <div class="panel-heading">
        <h1 class="panel-title">My Assignments</h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive" id="gridWorkItems"
               data-id-field="id"
               data-show-refresh="true"
               data-url="/api/wi/currentassignments/@Model.Username/"
               data-toggle="table"
               data-side-pagination="client"
               data-undefined-text="">
            <thead>
                <tr>
                    <th data-field="id">Report</th>
                    <th data-field="fileSpecification">Report</th>
                    <th data-field="dataYear">Data Year</th>
                    <th data-field="assignedDate" data-formatter="dateFormatterWithTime">Assigned Date</th>
                    <th data-field="dueDate" data-formatter="dateFormatter">Due Date</th>
                    <th data-field="action">Action</th>
                    <th data-field="id" data-cell-style="text-nowrap" data-align="center" data-formatter="actionsFormatter"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div class="panel panel-warning" hidden="@(!Model.CompletedWorkItems.Any(x => x.CanCancel))">

    <div class="panel-heading">
        <h1 class="panel-title">
            Retrievable Actions
        </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive" id="gridUndoWorkItems"
               data-url="/api/wi/completedassignments/@Model.Username/"
               data-id-field="id"
               data-show-refresh="true"
               data-toggle="table"
               data-side-pagination="client"
               data-undefined-text=""
               data-response-handler="retrieveAssignmentresponseHandler">
            <thead>
                <tr>
                    <th data-field="id">Report</th>
                    <th data-field="fileSpecification">Report</th>
                    <th data-field="dataYear">Data Year</th>
                    <th data-field="assignedDate" data-formatter="dateFormatterWithTime">Assigned Date</th>
                    <th data-field="dueDate" data-formatter="dateFormatter">Due Date</th>
                    <th data-field="action">Action</th>
                    <th data-field="id" data-cell-style="text-nowrap" data-align="center" data-formatter="cancelActionsFormatter"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div class="panel panel-success" hidden="@(!Model.CompletedWorkItems.Any())">

    <div class="panel-heading">
        <h1 class="panel-title">
            Completed Actions
        </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive" id="gridCompletedWorkItems"
               data-url="/api/wi/completedassignments/@Model.Username/"
               data-id-field="id"
               data-show-refresh="true"
               data-toggle="table"
               data-side-pagination="client"
               data-undefined-text="">
            <thead>
                <tr>
                    <th data-field="fileSpecification">Report</th>
                    <th data-field="dataYear">Data Year</th>
                    <th data-field="assignedDate" data-formatter="dateFormatterWithTime">Assigned Date</th>
                    <th data-field="dueDate" data-formatter="dateFormatter">Due Date</th>
                    <th data-field="action">Action</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        function retrieveAssignmentresponseHandler(res) {
            var wi = res.filter(function (item, idx) { return item.canCancel === true; });
            return wi;
        }

        function dateFormatter(value, row, index, field) {
            return moment(value).format('MM/DD/YYYY');
        }

        function dateFormatterWithTime(value, row, index, field) {
            return moment(value).format('MM/DD/YYYY hh:mm A');
        }

        function actionsFormatter(value, row) {
            var lnk =
                '<button class="btn btn-default" data-report-id="' +
                row.reportId +
                '" data-workitem-id="' +
                row.id +
                '" data-workitem-action="' +
                row.action +
                '">' +
                row.action +
                '</button>';
            return lnk;
        }

        function cancelActionsFormatter(value, row) {
               return  '<button class="btn btn-default" data-cancel-workitem data-cancel-workitem-id="' + row.id + '">Cancel ' + row.action + '</button>';
        }

        $(function () {
            console.log('ready');

            function refreshGrids() {
                //$('#gridWorkItems').bootstrapTable('refresh', { url: '/api/wi/currentassignments/' + username + '/'});
                //$('#gridUndoWorkItems').bootstrapTable('refresh', { url: '/api/wi/completedassignments/' + username + '/' });;
                //$('#gridCompletedWorkItems').bootstrapTable('refresh', { url: '/api/wi/completedassignments/' + username + '/' });;

                $('#gridWorkItems').bootstrapTable('refresh');
                $('#gridUndoWorkItems').bootstrapTable('refresh');
                $('#gridCompletedWorkItems').bootstrapTable('refresh');
            }

            $(document).on('click',
                'button[data-workitem-id]',
                function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('workitem-id');
                    $.ajax({
                        url: '/api/wi/complete/' + id,
                        type: 'POST',
                        success: function (data) {
                            refreshGrids();
                        },
                        error: function (err) {
                            console.log('err', err);
                        }
                    });
                });


            $(document).on('click',
                'button[data-cancel-workitem]',
                function (e) {
                    e.preventDefault();
                    console.log('cancel');
                    var btn = $(this);
                    var id = btn.data('cancel-workitem-id');
                    console.log('id', id);
                    $.ajax({
                        url: '/api/wi/undo/' + id,
                        type: 'POST',
                        success: function (data) {
                            refreshGrids();
                        },
                        error: function (err) {
                            console.log('err', err);
                        }
                    });

                });

        });

    </script>
}
