
@model ReportDocument

<div class="row">
    <div class="col-md-12">
        <object data="data:text/plain;base64,@Convert.ToBase64String(@Model.FileData)" type="text/plain" width="100%" height="400px">
            <embed src="data:text/plain;base64, @Convert.ToBase64String(@Model.FileData)" type="text/plain" />
        </object>
    </div>
</div>

