@{
    ViewBag.Title = "File Specifications";
}
<link href="~/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panel-title">File Specifications</span>
                    <span class="panel-subtitle">Administrative definitions of the Federal Specifications</span>
                </div>


                <div class="panel-body">

                    @(Html.DevExtreme().DataGrid().ID("grid").WordWrapEnabled(true)
                                                                                                  .OnEditorPrepared("editorPrepared")
                                                                                                  .ShowRowLines(true)
                                                                                                  .ShowBorders(true).FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                                                                  .SearchPanel(searchPanel => searchPanel.Visible(true).Width(240).Placeholder("Search...")).HeaderFilter(headerFilter => headerFilter.Visible(true))
                                                                                                  .Columns(c =>
                                                                                                  {
                                                                                                      c.Add().DataField("fileNumber");
                                                                                                      c.Add().DataField("fileName").HidingPriority(2);
                                                                                                      c.Add().DataField("isRetired").ShowEditorAlways(false).Caption("Retired?").TrueText("Yes").FalseText("No");
                                                                                                      c.Add().DataField("fileNameFormat").HidingPriority(3);
                                                                                                      c.Add().DataField("section");
                                                                                                      c.Add().DataField("dataGroups").HidingPriority(2);
                                                                                                      c.Add().DataField("reportAction").HidingPriority(4);
                                                                                                      c.Add().DataField("application").HidingPriority(4);
                                                                                                      c.Add().DataField("collection").HidingPriority(4);
                                                                                                      c.Add().DataField("teamResponsible").HidingPriority(4);
                                                                                                      c.Add().DataField("generationUserGroup").HidingPriority(1);
                                                                                                      c.Add().DataField("approvalUserGroup").HidingPriority(1);
                                                                                                      c.Add().DataField("submissionUserGroup").HidingPriority(1);
                                                                                                      c.Add().CssClass("btn-cell").Alignment(HorizontalAlignment.Center).CellTemplate(new JS("function(container, options) {createFileSpecificationGridActionButtons(container, options);}"));
                                                                                                  })
                                                                                                  .Paging(paging => paging.PageSize(10)).Pager(pager =>
                                                                                                  {
                                                                                                      pager.ShowPageSizeSelector(true);
                                                                                                      pager.AllowedPageSizes(new List<int> { 5, 10, 20 });
                                                                                                      pager.ShowInfo(true);
                                                                                                  })
                                                                                                  .DataSource(d => d.StaticJson().Url("/api/filespecification").Key("id")))
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/app/app.module.min.js"></script>
    <script src="~/js/app/fileSpecfication.module.min.js"></script>
}
