@model IEnumerable<FileSpecification>
@{
    ViewBag.Title = "File Specifications";
}

<style>
   
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            File Specifications
            <a href="#" class="panel-right">
                <i class="fa fa-cloud-download"></i>&nbsp;Update
            </a>
        </h1>
    </div>
    <div class="panel-body">

        <table id="grid"
               data-url="/api/filespecifications"
               data-toggle="table"
               data-pagination="true"
               data-page-size="5"
               data-page-list="[5,10,25,50]"
               data-pagination-first-text="First"
               data-pagination-pre-text="Previous"
               data-pagination-next-text="Next"
               data-pagination-last-text="Last"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-side-pagination="server"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-search="true"
               data-search-on-enter-key="true"
               data-undefined-text=""
               data-filter-show-clear="true"
               data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="id" data-formatter="historyFormatter" data-align="center"></th>
                    <th data-field="fileName" data-searchable="true" data-filter-control="input">File Name</th>
                    <th data-field="fileNumber" data-filter-control="input">FileNumber</th>
                    <th data-field="isSEA" data-formatter="checkboxFormatter" data-align="center">SEA</th>
                    <th data-field="isLEA" data-formatter="checkboxFormatter" data-align="center">LEA</th>
                    <th data-field="isSCH" data-formatter="checkboxFormatter" data-align="center">SCH</th>
                    <th data-field="dueDate" data-filter-control="input" data-formatter="dateFormatter">Due Date</th>
                    <th data-field="dataYear" data-filter-control="input">Data Year</th>
                    <th data-field="state" data-filter-control="input">State</th>
                    <th data-field="id" data-class="no-wrap" data-align="center" data-formatter="actionsFormatter"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Report History</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">

        function checkboxFormatter(value, row, index, field) {
            if (value === true) {
                return '<div class="text-center"><i class="fa fa-check-circle"></i></div>';
            }
            return null; 
        }

        function dateFormatter(value, row, index, field) {
            return moment(value).format('MM/DD/YYYY');
        }

        function actionsFormatter(value, row, index, field) {
            var lnk = '';
            if (row.reportState !== 1) {
                lnk += '<a class="btn btn-default btn-sm" href="reports/' + row.fileNumber + '/' + row.dataYear + '">Reports</a>&nbsp;';
                lnk += '<button class="btn btn-default btn-sm" data-start data-filespec-id="' + value + '">ReOpen</button>';
            } else {
                lnk += '<button class="btn btn-default btn-sm" data-start data-filespec-id="' + value + '">Start</button>&nbsp;';
                lnk += '<button class="btn btn-default btn-sm" data-waiver data-filespec-id="' + value + '">Waiver</button>';
            }
            return lnk;
        }

        function historyFormatter(value, row, index, field) {
            var id = value;
            var dataYear = row.dataYear;
            var lnk = '<a href=/workitemhistory/' +
                dataYear +
                '/' +
                id +
                ' data-history data-title="Work History" data-toggle="tooltip" data-placement="left">' +
                '<i class="fa fa-history"></i></a>';
            return lnk;
        }

        $(function () {
            console.log('ready');

            var $table = $('#grid');

            $('input').keyup(debounce(function () {
                var $this = $(this);
                console.log('val', $this.val());
            }, 500));

            $(document).on('click',
                '[data-start]',
                function (e) {
                    e.preventDefault();
                    console.log('start');
                    var btn = $(this);
                    var id = btn.data('filespec-id');
                    $.ajax({
                        url: '/api/reports/create/' + id,
                        type: 'POST',
                        success: function (data) {
                            //play with data
                            $table.bootstrapTable('refresh');
                        },
                        error: function (err) {
                            console.log('err', err);
                        }
                    });
                });

            $(document).on('click',
                '[data-waiver]',
                function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('filespec-id');
                    console.log('file spec', id);
                    $.ajax({
                        url: '/api/reports/waiver/' + id,
                        type: 'POST',
                        success: function (data) {
                            //play with data
                            $table.bootstrapTable('refresh');
                        },
                        error: function (err) {
                            console.log('err', err);
                        }
                    });
                });

            $(document).on('click',
                '[data-history]',
                function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    var title = $(this).data('title');
                    $('.modal-title').html(title);
                    $('.modal-body').load(url,
                        function () {
                            $('#myModal').modal({ show: true });
                        });
                });

            $('[data-toggle="tooltip"]').tooltip();

            function debounce(fn, delay) {
                var timer = null;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        fn.apply(context, args);
                    },
                        delay);
                };
            }

        });
    </script>
}
