@model IEnumerable<FileSpecification>
@{
    ViewBag.Title = "File Specifications";
}

<section class="content-header">
    <div>
        <ul class="breadcrumb pull-right">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.CurrentView</li>
        </ul>
    </div>

</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="header">File Specifications</span>
                    <small>Administrative definitions of the Federal Specifications</small>
                </div>


                <div class="panel-body">

                    @(Html.DevExtreme().DataGrid().ID("grid")
                          .OnEditorPrepared("editorPrepared")
                          //.Editing(e =>
                          //{
                          //    e.Mode(GridEditMode.Row);
                          //    e.AllowUpdating(true);
                          //})
                          .ShowRowLines(true)
                          .ShowBorders(true).FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                          .SearchPanel(searchPanel => searchPanel.Visible(true).Width(240).Placeholder("Search...")).HeaderFilter(headerFilter => headerFilter.Visible(true))
                          .Columns(c =>
                          {
                              c.Add().DataField("fileName");
                              c.Add().DataField("fileNumber");
                              c.Add().DataField("isRetired").Caption("Retired?");
                              c.Add().DataField("fileNameFormat");
                              c.Add().DataField("department");
                              c.Add().DataField("reportAction");
                              c.Add().DataField("generationUserGroup");
                              c.Add().DataField("approvalUserGroup");
                              c.Add().DataField("submissionUserGroup");
                              c.Add().Alignment(HorizontalAlignment.Center).CellTemplate(new JS("function(container, options) {createFileSpecificationGridActionButtons(container, options);}"));
                          })
                          .Paging(paging => paging.PageSize(10)).Pager(pager =>
                          {
                              pager.ShowPageSizeSelector(true);
                              pager.AllowedPageSizes(new List<int> { 5, 10, 20 });
                              pager.ShowInfo(true);
                          })
                          .DataSource(d => d.StaticJson().Url("/api/filespecifications").Key("id")))
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
    <div id="editContainer">
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/app/app.js"></script>
}
